.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  scale: 1.2;
  position: absolute;
  top: 640px;
  left: 10px;
  z-index: 1000;
}

.container a {
  transition: .3s;
}

.container a:hover {
  transform: scale(1.2);
}