.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 80vh;
}

.container {
  width: 500px;
  height: 500px;
  border: none;
  border-radius: .5rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 5px 5px 4px rgba(24, 23, 127, 0.05);
  transition: all .3s;
}

.container:hover {
  box-shadow: 6px 6px 4px rgba(24, 23, 127, 0.2);
}

.container:first-child {
  grid-row: span 2;
  height: auto;
}
.container:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  overflow: auto;
  height: 250px;
  margin-top: 74px;
  align-items: center;
}

.image {
  width: 100%;
}

.titleContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1rem 1.5rem 1rem 1.5rem;
  align-items: center;
}

.title {
  font-size: 1.2rem;
  text-shadow: 2px 2px 3px rgba(24, 23, 127, 0.2);
  font-weight: 400;
 grid-column: 1;
 grid-row: 1;
}

.button {
  border: none;
  background-color: #3d4c6e;
  color: #FFF;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all .3s;
  border-radius: .5rem;
  height: 3rem;
  width: 10rem;
  grid-row: span 2;
  align-self: center;
  justify-self: center;
  transition: all .3s;
  font-size: 1rem;
  letter-spacing: .15rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button:hover {
  background-color: #536796;
  transform: scale(1.1);
  box-shadow: 2px 2px 3px rgba(24, 23, 127, 0.2);
}

.titleButton {
  padding-left: 2rem;
}

.container:nth-child(2) .titleContainer {
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr;
  align-items: center;
  padding: .5rem;
}

.container:nth-child(2) .titleContainer h2 {
  margin: 0 0 0 .5rem;
}

.container:nth-child(2) .button {
  grid-column: 3;
}

.container:nth-child(2) p {
  grid-column: 2;
  grid-row: 1;
  padding: 0;
}