.grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

.container {
  width: 48vw;
  height: 30vh;
  border: none;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 5px 5px 4px rgba(24, 23, 127, 0.1);
  transition: all .3s;
  display: flex;
  align-items: center;
}

.container div {
  padding-left: 2rem;
}

.container:hover {
  box-shadow: 6px 6px 4px rgba(24, 23, 127, 0.2);
}

.title {
  font-size: 3rem;
  text-shadow: 2px 2px 3px rgba(24, 23, 127, 0.2);
  color: #FFF;
  font-weight: 500;
}

.titleContainer p {
  font-size: 1.5rem;
  color: #FFF;
  padding-bottom: 3rem;
}

.button {
  border: none;
  background-color: #EBECF0;
  color: #000;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all .3s;
  height: 3rem;
  width: 15rem;
  grid-row: span 2;
  align-self: center;
  justify-self: center;
  transition: all .3s;
  font-size: 1rem;
  letter-spacing: .15rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button:hover {
  background-color: #C2C2C2;
  transform: scale(1.1);
}

button:disabled:hover{
  transform: scale(1);
  background-color: #EBECF0;
  cursor: auto;
}

.titleButton {
  padding-left: 2rem;
}

@media (max-width: 480px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    align-content:center;
  }
  .container {
    width: 100vw;
    height: 20vh;
    margin: 2rem 0 2rem 0;
    padding: .5rem 0 .5rem 0;
  }
  .container div {
  padding-left: 1rem;
}
  .title {
    font-size: 2rem;
  }
  }