@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  text-decoration: none;
  --type-first: Roboto, Arial;
  --type-secont: 'Spectral', georgia;
  font-family: var(--type-first);
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  background-color: #EBECF0;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
  to{ 
    opacity: 1;
    transform: initial;
  }}

  svg {
    fill: #212A3E;
  }